##############################
# Java + Maven + IDE Ignore #
##############################

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Maven target folder
target/
**/target/

# Java build folders
bin/
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
